
// set your custom colors here
$siteBgColorCustom: #E3F0EE;
$sidebarBgColorCustom: #E3F0EE;
$textColorCustom: #2C2C2C;
$sidebarTextColorCustom: #22404C;
$headlineColorCustom: #22404C;
$headingColorCustom: #22404C;
$bodyLinkColorCustom: #107685;
$navLinkColorCustom: #2C2C2C;
$sidebarLinkColorCustom: #2c2857;
$footerTextColorCustom: #2C2C2C;
$buttonTextColorCustom: #fff;
$buttonHoverTextColorCustom: #fff;
$buttonBgColorCustom: #107685;
$buttonHoverBgColorCustom: #14303C;
$borderColorCustom: #76B0B9;

