// Override this file to add your own SCSS styling.
mark {
  background-color: #99D9DD;
  color: black;
}
.row {
  display: flex;
}
.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

// img
// {
// Padding-top: 15px; //padding positions
// Padding-left: 25px; //padding positions
// }

.div-details {
	background-color: #e3e5f0;
}

.div-indent {
	padding-top:1%;
	padding-bottom:5%;
  padding-left: 5%;
  padding-right: 5%;
}

h4{
  font-variant: small-caps;
}

summary{
  font-style: italic;
  font-weight: bold;
}