$theme-darkblue: #01364C;
$theme-blue: #99D9DD;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;
$theme-yellow-l: rgba($theme-yellow, .5);

$presentation-font-size-root: 35px;
$presentation-line-height: 1.35;
$presentation-title-slide-text-align: left;


/*-- scss:rules --*/




h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}


.MathJax{
    color: $theme-darkblue !important;
}
mark {
  background-color: $theme-blue;
  color: $theme-darkblue;
}